/* write your css here */
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Righteous&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: "poppins",sans-serif;

}

.title{
    text-align: center;
    font-size: 3rem;
    margin: 6vh;
    border: 7px dashed rgb(0, 0, 155);
    border-radius: 15px;
    padding: 1vh 5vw;

}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto;

}

.card{
    width: 400px;
    height: max-content;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    box-shadow:rgb(0,0,0,0.24) 0px 3px 8px;
}

.image{
    width: 380px;
    aspect-ratio: 1/1;
    object-fit: cover;
}
